
$h1-family: Source Sans Pro;
$h1-size: 32px;
$h1-height: 44px;
$h1-weight: 600;
$h1-color: #393C3E;

$p-family: Source Sans Pro;
$p-size: 12px;
$p-height: 22px;
$p-color: #71787E;

$border: solid #DFE3E9 1px;

body {
  // background-image: url(https://cdn.discordapp.com/attachments/450559026338594827/450560840358166529/unknown.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
}

.title-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 29px;

  h1 {
    font-family: $h1-family;
    font-size: $h1-size;
    line-height: $h1-height;
    color: $h1-color;
    font-weight: $h1-weight;
  }
}

.container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 22px;

  .date {
    position: relative;
    bottom: 10px;
    color: $p-color;
    font-size: $p-size;
    line-height: $p-height;
  }

  .text-container {
    padding-left: 27px;
  }
}

.left-recent, .right-recent {
  background-color: white;
  border: $border;
  border-radius: 5px;
  width: 520px;

}

.left-recent {
  float: left;
}

.right-recent {
  float: right;
}

img.left, img.right {
  position: relative;
  width: 500px;
  height: 300px;
  left: 9px;
  top: 7px;
  border-radius: 5px;
}

.right-title, .left-title, .date {
  margin-left: 30px;
}

.right-title, .left-title {
  margin-bottom: 2px;
}

button.recent {
  position: absolute;
  border: none;
  background-color: rgba(170, 171, 161, 0.6);
  color: white;
  font-family: $p-family;
  font-weight: 900;
  padding: 5;
  margin-left: -60px;
  margin-top: 17px;
  border-radius: 5px;
}

.answer-button {
    position: relative;
    left: 250px;
    bottom: 15px;
    padding: 7px;
    font-size: $p-size;
    line-height: $p-height;
    color: white;
    background-color: #34ac45;
    border: solid #249533 1px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
  }

  .answer-button:hover {
    background-color: #1e960a;
  }

  .answer-button:active {
    background-color: #1a760a;
  }
