
$h1-family: Source Sans Pro;
$h1-size: 32px;
$h1-height: 44px;
$h1-weight: 600;
$h1-color: #393C3E;

$p-family: Source Sans Pro;
$p-size: 12px;
$p-height: 22px;
$p-color: #71787E;

$ap-family: Source Sans Pro;
$ap-size: 10px;
$ap-height: 20px;
$ap-color: #71787E;

$border: solid #DFE3E9 1px;

body {
  // background-image: url(https://cdn.discordapp.com/attachments/450559026338594827/450560840358166529/unknown.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
}

.title-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 29px;

  h1 {
    font-family: $h1-family;
    font-size: $h1-size;
    line-height: $h1-height;
    color: $h1-color;
    font-weight: $h1-weight;
    margin-bottom: 50px;
  }
}

.container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 22px;

  .date {
    position: relative;
    bottom: 10px;
    color: $p-color;
    font-size: $p-size;
    line-height: $p-height;

  }
}

.question-recent {
  position: absolute;
  width: 73.7%;
}


.left-recent, .right-recent {
  background-color: white;
  border: $border;
  border-radius: 5px;
  width: 520px;

}

.left-recent {
  float: left;
}

.right-recent {
  float: right;
}

img.left, img.right {
  position: relative;
  width: 500px;
  height: 300px;
  left: 9px;
  top: 7px;
  border-radius: 5px;
}

.right-title, .left-title, .date {
  margin-left: 30px;
}

.right-title, .left-title {
  margin-bottom: 2px;
}

button.recent {
  position: absolute;
  border: none;
  background-color: rgba(170, 171, 161, 0.6);
  color: white;
  font-family: $p-family;
  font-weight: 900;
  padding: 5;
  margin-left: -60px;
  margin-top: 17px;
  border-radius: 5px;
}

.details-button {
    position: relative;
    left: 205px;
    bottom: 15px;
    padding: 7px;
    font-size: $p-size;
    line-height: $p-height;
    color: white;
    background-color: #34ac45;
    border: solid #249533 1px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
  }

  .details-button:hover {
    background-color: #1e960a;
  }

  .details-button:active {
    background-color: #1a760a;
  }

.list-questions {

  position: relative;
  top: 455px;
  padding-bottom: 40px;

  .text-container {
    padding-left: 27px;
    background-color: white;
    margin-top: -21px;
    border: $border;
    border-radius: 5px;

    .title-questions {
      color: $h1-color;

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: $border;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -27px;
        width: 72.8vw;
        top: 1px;
      }
    }

    .table-cara {
      display: flex;
      justify-content: space-between;
      margin-left: -27px;
      background-color: #f5f8fa;
      border-bottom: $border;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: -15px;
      color: $p-color;

      .element:nth-child(1) {
        flex: 1;
        margin-left: 27px;

      }

      .element:nth-child(2) {
        flex: 1;
        margin-left: 27px;

      }
    }

    .table-questions {
      width: 100%;

      hr {
        padding-bottom: 5px;
        display: block;
        height: 1px;
        border: 0;
        border-top: $border;
        margin: 1em 0;
        position: relative;
        left: -27px;
        width: 72.8vw;
        top: -17px;
      }

      .block {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .title {
          position: relative;
          bottom: 10px;
        }

        .date {
          position: relative;
          color: $p-color;
          font-size: $p-size;
          line-height: $p-height;
          bottom: 10px;
          left: -75px;
        }

      .details-question {
        position: relative;
        right: 35px;
        padding: 7px;
        bottom: 17px;
        font-size: $p-size;
        line-height: $p-height;
        color: white;
        background-color: #34ac45;
        border: solid #249533 1px;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
      }
      span {
            width: 33%;
            color: $p-color;
          }
      .details-question:hover {
        background-color: #1e960a;
      }

      .details-question:active {
        background-color: #1a760a;
      }
    }
  }
}
}
