html
  head
    title Stock Overflowx - Home
    link(rel="stylesheet" href="/css/home.css")

  body
    main
        nav
          ul(class="navbar")
            img(class="logo" src="/img/logo.jpg")
            li
              a(class="nav") Add Question
            li
              a(class="nav") All Questions 
            li
              a(class="nav") Help  
        
