html
  head
    include navbar.pug
    title Stock Overflowx - Questions List
    link(rel="stylesheet" href="css/list-question.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    div(class="title-container")
      h1 Recent Questions
    div(class="container")
      
          div(class="question-recent")
            div(class="left-recent")
              img(class="left" src="/img/city.jpg")
              button(class="recent") RECENT
              h3(class="left-title") Title
              span(class="date") Published 60 days ago
              button(class="details-button") Question details   
                     
            div(class="right-recent")
              img(class="right" src="/img/nature.jpg")
              button(class="recent") RECENT
              h3(class="right-title") Title 2
              span(class="date") Published 60 seconds ago
              button(class="details-button") Question details
            
          div(class="list-questions")
            div(class="text-container")
              div(class="title-questions")
                h1 All Questions
                hr(size="1")
              div(class="table-cara")
                span(class="element") Title 
                span(class="element") Date 
              div(class="table-questions")
                for question in questions 
                    hr(size="1")
                    div(class="block")
                      span(class="title")
                        span(class="element") #{question.title}
                      span(class="date") #{question.createdAt}
                      a(href="/question-details/" + question.id)
                        button(class="details-question") Question details
                      
