html
  head
    include navbar.pug
    link(rel="stylesheet" href="css/list-question.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    div(class="title-container")
      h1 Recent Questions
    div(class="container")
          div(class="left-recent")
            img(class="left" src="/img/city.jpg")
            button(class="recent") RECENT
            h3(class="left-title") Titre
            span(class="date") Publié il y a 5 sec
            button(class="answer-button") Answer to question          
          div(class="right-recent")
            img(class="right" src="/img/nature.jpg")
            button(class="recent") RECENT
            h3(class="right-title") Titre 2
            span(class="date") Publié il y a 6 sec
            button(class="answer-button") Answer to question
            
            div(class="text-container")
