html
  head
    title Stock Overflowx - Login
    link(rel="stylesheet" href="/css/login.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  body
    main
      div(class="login-container")
        i(class="material-icons account") account_circle
        div(class="title")
          h3 Welcome! Please login.
        div(class="form")
          form(action="/")
            a Login with your e-mail address
            input(type="email" name="mail")
            a Password
            input(type="password" name="password")
            input(class="login-button" type="submit" value="Login to Questions")
        hr 
        a(class="networks") Login via social networks
        
          
          
