html
  head
    link(rel="stylesheet" href="/css/navbar.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  

  div(class="navbar")
        nav 
          ul
            li(class="logo-li" )
              button(class="logo") 
                img(class="logo" src="/icons/logo.png")
            li(class="questions-li")
              a(href="/list-question") All Questions
            li(class="add-li")
              a(href="/add-question") Add a Question 
            a(href="/login")
              i(class="material-icons") account_circle
