html
  head
    title Stock Overflowx - Register
    link(rel="stylesheet" href="/css/register.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      

  body
    main
      div(class="login-container")
        i(class="material-icons account") account_circle
        div(class="title")
          h3 Welcome! Please register.
        div(class="form")
          form(action="/")
            span E-mail address
            input(type="email" name="email" placeholder="exemple@exemple.com")
            span Username
            input(type="text" name="username" placeholder="Username")
            span Password
            input(type="password" name="password" placeholder="Ex : password")
            span Confirm Password
            input(type="password" name="password" placeholder="Ex : password")
            input(class="login-button" type="submit" value="Register to Stock Overflowx")
        hr 
        span(class="networks") Register via social networks
        div(class="icons")
          button(class="twitter")
            img(class="tw-icon" src="/icons/twitter.png")
          button(class="facebook")
            img(class="fa-icon" src="/icons/facebook.png")
          button(class="pinterest")
            img(class="pin-icon" src="/icons/pinterest.png")
          button(class="dribbble")
            img(class="dri-icon" src="/icons/dribbble.png")
