body {
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh; }

.title-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 29px; }
  .title-container h1 {
    font-family: Source Sans Pro;
    font-size: 32px;
    line-height: 44px;
    color: #393C3E;
    font-weight: 600;
    margin-bottom: 50px; }

.container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 22px; }
  .container .date {
    position: relative;
    bottom: 10px;
    color: #71787E;
    font-size: 12px;
    line-height: 22px; }

.question-recent {
  position: absolute;
  width: 73.7%; }

.left-recent, .right-recent {
  background-color: white;
  border: solid #DFE3E9 1px;
  border-radius: 5px;
  width: 520px; }

.left-recent {
  float: left; }

.right-recent {
  float: right; }

img.left, img.right {
  position: relative;
  width: 500px;
  height: 300px;
  left: 9px;
  top: 7px;
  border-radius: 5px; }

.right-title, .left-title, .date {
  margin-left: 30px; }

.right-title, .left-title {
  margin-bottom: 2px; }

button.recent {
  position: absolute;
  border: none;
  background-color: rgba(170, 171, 161, 0.6);
  color: white;
  font-family: Source Sans Pro;
  font-weight: 900;
  padding: 5;
  margin-left: -60px;
  margin-top: 17px;
  border-radius: 5px; }

.answer-button {
  position: relative;
  left: 250px;
  bottom: 15px;
  padding: 7px;
  font-size: 12px;
  line-height: 22px;
  color: white;
  background-color: #34ac45;
  border: solid #249533 1px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer; }

.answer-button:hover {
  background-color: #1e960a; }

.answer-button:active {
  background-color: #1a760a; }

.list-questions {
  position: relative;
  top: 455px;
  padding-bottom: 40px; }
  .list-questions .text-container {
    padding-left: 27px;
    background-color: white;
    margin-top: -21px;
    border: solid #DFE3E9 1px;
    border-radius: 5px; }
    .list-questions .text-container .title-questions {
      color: #393C3E; }
      .list-questions .text-container .title-questions hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: solid #DFE3E9 1px;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -27px;
        width: 72.8vw; }
    .list-questions .text-container .table-cara {
      display: flex;
      justify-content: space-between;
      margin-left: -27px;
      background-color: #f5f8fa;
      border-bottom: solid #DFE3E9 1px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: -15px;
      color: #71787E; }
      .list-questions .text-container .table-cara .element:nth-child(1) {
        flex: 1;
        margin-left: 27px; }
      .list-questions .text-container .table-cara .element:nth-child(2) {
        flex: 1;
        margin-left: 27px; }
    .list-questions .text-container .table-questions {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: solid #DFE3E9 1px; }
      .list-questions .text-container .table-questions .date {
        position: relative;
        color: #71787E;
        font-size: 12px;
        line-height: 22px;
        top: 20px;
        right: 62px; }
      .list-questions .text-container .table-questions .element:nth-child(1) {
        flex: 1; }
      .list-questions .text-container .table-questions .element:nth-child(2) {
        flex: 1;
        margin-left: 110px;
        margin-top: 10px; }
      .list-questions .text-container .table-questions .answer-question {
        position: relative;
        right: 35px;
        padding: 7px;
        font-size: 12px;
        line-height: 22px;
        color: white;
        background-color: #34ac45;
        border: solid #249533 1px;
        border-radius: 6px;
        text-align: center;
        cursor: pointer; }
      .list-questions .text-container .table-questions .answer-question:hover {
        background-color: #1e960a; }
      .list-questions .text-container .table-questions .answer-question:active {
        background-color: #1a760a; }
